/* =====================================================
   base.css - 基本文字・レイアウト設定（reset.css前提）
   ===================================================== */

:root {
    /* === 基本カラー === */
    --color-base: white;        /* 背景の基本（白） */
    --color-text: black;        /* 文字基本（黒） */
    --color-border: black;      /* ボーダー（必要ならtextとわける） */
    --color-gray: #efefef;      /* サブ背景や区切りに使うグレー */

    /* === アクセントカラー === */
    --color-accent: #00c3f4;    /* ポイントに使う水色系アクセント */
    --color-header-background: #ffffff;
    --color-nav-background: #68bce8;
    --color-nav-text: #ffffff;
    --color-nav-active-background: #ffffff;
    --color-nav-active-text: #000000;
    --color-github-background: #ffffff;
    --color-github-border: #000000;
    --color-github-text: #000000;
    --page-frame-space: 24px;
}

html {
   box-sizing: border-box;
   overflow-y: scroll;
   scrollbar-gutter: auto;
}

*, *::before, *::after {
   box-sizing: inherit;
}

body {
   background-color: var(--color-base);
   color: var(--color-text);
   font-family: "Noto Sans JP", sans-serif;
   font-weight: 400;
   line-height: 1.6;
   font-size: 16px;
   letter-spacing: 0.05em;
}


/******************************* link *******************************/
a {
   color: inherit;
   text-decoration: none;
   transition: color 0.3s ease;
}

/******************************* image video *******************************/
img, video {
   max-width: 100%;
   height: auto;
   display: block;
}

/******************************* font *******************************/
h1 {
   font-size: 32px;
   font-weight: 700;
   margin: 0;
}

/* small {
} */
/* strong { font-weight: 700; } */

/******************************* フォーム *******************************/
button, input, select, textarea {
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
   letter-spacing: inherit;
}

/******************************* Utility *******************************/
.container {
   max-width: 1200px;
   width: 90%;
   margin-inline: auto;
   padding: 0 15px;
}
